<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Currículum</title>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css"/>
<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"/>
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css"/>

<!-- Font Google -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%-include('template/header');%> 
<body>

<!-- Testimonials -->
<div class="testimonials">
  <div class="testimonials-overlay section-padding1">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="owl-carousel owl-theme">
            <div class="testimonial-item text-center">
              <div class="icon"> <i class="fas fa-compact-disc"></i> </div>
              <p class="m-auto">Tengo un gran interés por la música. He concursado y participado en institutos, concursos y en teatros. Toco piano,
                soy cantautora y vocalista principal de una banda emergente de Bogotá</p>
              <div class="testimonial-author text-center">
                <h5>Música</h5>
                <h6>"la mejor composicion es la música en nuestras vidas"</h6>
              </div>
            </div><br>
            <div class="testimonial-item text-center">
              <div class="icon"><i class="fas fa-music"></i> </div>
              <p class="m-auto">En mis tiempos libres, me gusta dar clases de pintura en el Jardin Pasitos de Amor, 
                dirijo el coro con niños desde 3 a 7 años. 
              </p>
              <h5>Arte</h5>
                <h6>"la mejor parte de hacer lo que amas, es cuando lo compartes"</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials --> 

<%-include('template/footer');%> 
</body>
</html>
